<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joker Test Playground</title>

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> -->

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/bootstrap.css" />

  <!-- библиотека LoDash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" ></script>

  <script src="js/generator.js" ></script>
</head>
<body>

<script type="text/template" id="server-won-template">cards = [<%var counter=1;%><%for(var card in cards_on_table){%>
  <%if(cards_on_table[card].suit_ascii=="J"){%><%if(cards_on_table[card].option>1){%>get_table_card(<%=counter++%>, '<%=cards_on_table[card].rank%>', '<%=cards_on_table[card].suit_ascii%>', <%=cards_on_table[card].option %>, '<%=cards_on_table[card].option_suit_ascii%>'),<%}else{%><%if(cards_on_table[card].option==1){%>get_table_card(<%=counter++%>, '<%=cards_on_table[card].rank%>', '<%=cards_on_table[card].suit_ascii%>', <%=cards_on_table[card].option %>),<%}else{%>get_table_card(<%=counter++%>, '<%=cards_on_table[card].rank%>', '<%=cards_on_table[card].suit_ascii%>'),<%}%><%}%><%}else{%>get_table_card(<%=counter++%>, '<%=cards_on_table[card].rank%>', '<%=cards_on_table[card].suit_ascii%>'),<%}%><%}%>
]
first_player = <%=first_player%>
trump = '<%=trump%>'
winner = <%=winner%>
</script>

<script type="text/template" id="server-validation-template">firstplayer = 1
position = <%=position%>
trump = '<%=trump%>'
phase = 9
order = 0
won = 0
total_order = 3

table = [
<%var counter=1;%><%for(var card in cards_on_table) {%><%if (cards_on_table[card].suit_ascii == "J"){%><%if (cards_on_table[card].option > 1) {%>  get_table_card(<%=counter++%>, '<%= cards_on_table[card].rank %>', '<%= cards_on_table[card].suit_ascii %>', <%= cards_on_table[card].option %>, '<%= cards_on_table[card].option_suit_ascii %>'),
<%} else {%><%if(cards_on_table[card].option==1){%>  get_table_card(<%=counter++%>,'<%=cards_on_table[card].rank%>','<%=cards_on_table[card].suit_ascii%>',<%=cards_on_table[card].option %>),
<%} else {%>  get_table_card(<%=counter++%>, '<%=cards_on_table[card].rank%>', '<%=cards_on_table[card].suit_ascii%>'),<% } %><% } %>
<%} else {%>  get_table_card(<%=counter++%>, '<%= cards_on_table[card].rank %>', '<%= cards_on_table[card].suit_ascii %>'),<% } %><% } %>
]
cards = [<%for(var card in hand) {%>
  get_card(position, '<%= hand[card].rank %>', '<%= hand[card].suit_ascii %>'),<% } %>
]

valid = [<%for(var card in valid_cards) {%>
  get_card(position, '<%= valid_cards[card].rank %>', '<%= valid_cards[card].suit_ascii %>'),<% } %>
]
include_examples 'validate_trick', position, cards, table, firstplayer, trump, valid
</script>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-2">
            <form id="main" action="">
                <div class="form-group">
          <a>Масть козыря</a>
                    <select name="trump" class="form-control" placeholder="trump">
                        <option value="D">♦</option>
                        <option value="H">♥</option>
                        <option value="C">♣</option>
                        <option value="S">♠</option>
            <option value="J">J</option>
                        </select>
                </div>
                <div class="form-group">
          <a>Победитель</a>
                    <input type="text" id="inputWon" name="won" class="form-control" placeholder="won" value="1">
                </div>

        <a id="reset_all" class="btn btn-default">Сбросить все</a>
        <!--
        <br></br>
        <a id="reset_deck" class="btn btn-default">Сбросить колоду</a>
        -->

            </form>
        </div>
        <div class="col-md-7">
            <div id="table" style="padding: 10px;border: 1px solid #ccc;">
                <div id="onTable" class="table clearfix"><a>Карты на столе</a></div>
                <div id="myCards" class="cards clearfix"><a>Карты в руке</a></div>
        <!--
        <br></br>
        <div id="validCards" class="cards clearfix"><a>Валидные карты</a></div>
        -->
            </div>

            <div style="padding: 10px;border: 1px solid #ccc;margin: 20px 0;">
        <a>Колода</a>
                <ul id="after-table">
                </ul>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="col-md-3">
            <form>
                <div class="form-group">
                    <textarea id="results" class="form-control" style="min-height: 343px;">Для валидации карт нужны:
Карты на столе
Карты в руке
Масть козыря
В ответе: Валидные карты

Для определения победителя нужны:
Карты на столе
Масть козыря
В ответе: Победитель (номер карты на столе которая победила)
          </textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" id="inputFileNameToSaveAs" placeholder="Имя файла" value="output"/>
                </div>

        <a id="preview_for_client_validation" class="btn btn-default">Превью валидации для клиента</a>
        <a id="preview_for_client_won" class="btn btn-default">Превью победителя для клиента</a>
        <br></br>
        <a id="save_for_client_validation" class="btn btn-default">Сохранить валидацию для клиента</a>
        <a id="save_for_client_won" class="btn btn-default">Сохранить победителя для клиента</a>
        <br></br>
        <a id="preview_for_server_validation" class="btn btn-default">Превью валидации для сервера</a>
        <a id="preview_for_server_won" class="btn btn-default">Превью победителя для сервера</a>
        <br></br>
        <a id="save_for_server_validation" class="btn btn-default">Сохранить валидацию для сервера</a>
        <a id="save_for_server_won" class="btn btn-default">Сохранить победителя для сервера</a>
            </form>
        </div>
    </div>
</div>
<script src="js/main.js" ></script>

</body>
</html>
